@import "src/styles/variables";

section {
  display: grid;

  img {
    width: 100%;
  }
}

#course-content {
  background-color: $quaternary-background;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 15px;

  h4 {
    color: $orange;
    font-weight: bold;
    text-align: center;
  }

  #buy-now {
    display: block;
    text-align: center;
    width: 100%;
    background-color: $green;
    border: none;
    color: white;
    padding: 10px;
  }
}
