<nav [class.is-closed]="isClosed">
  <ul>
    <li id="logo">
      <i class="fas fa-eye"></i>
      <i
        *ngIf="!isClosed"
        (click)="closeMenu()"
        class="fas fa-chevron-left"
      ></i>
    </li>
    <!-- <li><i class="fas fa-search" (click)="openMenu()"></i></li> -->
    <li>
      <i class="fab fa-html5" (click)="openMenu()"></i>
      <span [class.is-closed]="isClosed">HTML</span>
    </li>
    <li>
      <i class="fab fa-css3" (click)="openMenu()"></i>
      <span [class.is-closed]="isClosed">CSS</span>
    </li>
    <li>
      <i class="fab fa-js" (click)="openMenu()"></i>
      <span [class.is-closed]="isClosed">Javascript</span>
    </li>
  </ul>
</nav>
