$background-color: #2b2b2b;

nav {
  display: grid;
  background-color: $background-color;

  ul {
    display: grid;
    grid-gap: 10px;
    li {
      i {
        font-size: 30px;
        &.fa-html5 {
          color: #ff073a;
        }
        &.fa-css3 {
          color: #4666ff;
        }
        &.fa-js {
          color: #f7ff00;
        }
      }
    }
  }
}
