@import "src/styles/mixins";
@import "src/styles/variables";

$color: #929293;
$side-padding: 20px;

nav {
  display: grid;
  background-color: $secondary-background;
  height: 100vh;
  align-content: baseline;
  width: 30vw;

  &.is-closed {
    width: 10vw;
  }

  ul {
    display: grid;
    grid-gap: 10px;

    li {
      display: grid;
      grid-template-columns: 30px 1fr;
      align-items: center;
      padding-left: $side-padding;

      &.active-route {
        background-color: $blue;

        span {
          color: white;
        }
      }

      &#logo {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;

        .fa-eye {
          width: 25px;
        }

        i {
          display: block;
          justify-self: end;
          padding-right: $side-padding;
          color: $color;
        }
      }

      i {
        display: block;
        font-size: 30px;
        padding: 5px 5px;

        &.fa-chevron-left {
          font-size: 15px;
        }
        &.fa-html5 {
          color: $html-color;
        }
        &.fa-css3 {
          color: $css-color;
        }
        &.fa-js {
          color: $javascript-color;
        }
      }

      span {
        display: block;
        padding-left: $side-padding;
        &.is-closed {
          display: none;
        }
      }
    }
  }
}
