<nav [class.is-closed]="isClosed">
  <ul>
    <li id="logo" [routerLink]="['']">
      <i class="fas fa-eye"></i>
      <i
        *ngIf="!isClosed"
        (click)="closeMenu()"
        class="fas fa-chevron-left"
      ></i>
    </li>
    <!-- <li><i class="fas fa-search" (click)="openMenu()"></i></li> -->
    <li
      (click)="openMenu()"
      [routerLink]="['category/html']"
      [routerLinkActive]="'active-route'"
    >
      <i class="fab fa-html5"></i><span [class.is-closed]="isClosed">HTML</span>
    </li>
    <li
      (click)="openMenu()"
      [routerLink]="['category/css']"
      [routerLinkActive]="'active-route'"
    >
      <i class="fab fa-css3-alt"></i>
      <span [class.is-closed]="isClosed">CSS</span>
    </li>
    <li
      (click)="openMenu()"
      [routerLink]="['category/javascript']"
      [routerLinkActive]="'active-route'"
    >
      <i class="fab fa-js"></i>
      <span [class.is-closed]="isClosed">Javascript</span>
    </li>
  </ul>
</nav>
