@import "mixins";
$background-color: #252526;
$color: #929293;

footer {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: end;
  grid-gap: 20px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: $background-color;
  color: $color;
  padding: 0 20px;

  #social-media {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    a {
      display: inline-block;
      border-bottom: 3px solid transparent;

      &:hover {
        @include hover-border;
      }
    }
  }
}
