@import "src/styles/variables";

$padding: 20px;

section {
  display: grid;
  background-color: $background-color;
  margin: 10px 0;
  padding: $padding;

  h2 {
    color: white;
    padding: $padding;
    margin: 0;
  }

  #card-body {
    padding-left: $padding;
  }
}
