@import "src/styles/variables";

nav {
  h3 {
    margin-bottom: 0;
    background-color: #252525;
    color: white;
    height: 75px;
    display: grid;
    justify-items: center;
    align-items: center;
  }
}
ul {
  margin-top: 0;
  background-color: $secondary-background;

  li {
    padding: 10px 0;
    text-align: center;
    color: #40c980;
  }
}
