@import "src/styles/variables";

nav {
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    background-color: $background-color;
    color: white;
    height: 75px;
    display: grid;
    justify-items: center;
    align-items: center;
  }
}
ul {
  margin-top: 0;
  background-color: $secondary-background;

  li {
    cursor: pointer;
    padding: 10px 0;
    text-align: center;
    color: $green;
    text-transform: capitalize;
  }
}
