@import "src/styles/variables";

#share-container {
  display: grid;
  grid-gap: 20px;

  #share-action {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-column-gap: 5px;

    i,
    h4 {
      color: $green;
      font-weight: bold;
    }

    i {
      font-size: 20px;
      justify-self: end;
    }

    h4 {
      font-size: 15px;
    }
  }

  #social-media {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;

    i {
      font-size: 40px;

      &.fa-facebook-square {
        color: $fb-blue;
      }

      &.fa-linkedin {
        color: $linkedin-green;
      }

      &.fa-twitter-square {
        color: $twitter-blue;
      }
    }
  }
}
