#site-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "side-nav router-outlet";

  app-side-nav {
    grid-area: side-nav;
  }

  #router-outlet {
    grid-area: router-outlet;
  }
}
