@import "src/styles/variables";

@keyframes slide-up {
  0% {
    transform: translateY(200px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(200px);
  }
}

#alert {
  display: grid;
  grid-template-columns: auto 500px 1fr;
  grid-gap: 20px;
  align-items: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  transform: translateY(200px);

  &.is-shown {
    animation: slide-up 1.5s linear;
    animation-fill-mode: forwards;
  }

  &.is-closed {
    animation: slide-down 1.5s linear;
  }

  #icon-type {
    font-size: 50px;
  }

  #close {
    display: grid;
    border: none;
    padding: 10px;
    font-size: 25px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    justify-items: center;
    align-items: center;
    justify-self: end;
    margin: 20px;
  }

  &.info {
    background-color: $background-color;
    border-left: 10px solid $blue;

    h3 {
      color: $orange;
    }

    p,
    i {
      color: white;
    }

    button {
      background-color: $red;
    }
  }
}
