@import "src/styles/variables";

$padding: 15px;

article {
  #book-content {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: $tertiary-background;
    padding: $padding;
    grid-column-gap: 20px;

    img {
      background-color: $black;
      padding: $padding 20px;
      display: block;
    }

    #information {
      display: grid;

      h3 {
        color: $orange;
        margin-top: 0;
        margin-bottom: 5px;
      }

      p {
        color: white;
        margin-bottom: 0;
      }
    }
  }

  #book-details {
    background-color: $tertiary-background;

    hr {
      margin: 0;
    }

    #rating {
      display: grid;
      font-size: 20px;
      padding: $padding;
      grid-template-columns: auto auto;

      #buy,
      i {
        color: $orange;
      }

      #stars {
        justify-self: end;
      }
    }
  }
}
