<div>
  <ul>
    <li
      [class.is-active]="tabItem === selectedTabItem"
      *ngFor="let tabItem of tabItems"
      (click)="selectTabItem(tabItem)"
    >
      <i
        [ngClass]="[
          tabItem.iconClasses,
          tabItem === selectedTabItem ? 'is-active' : ''
        ]"
      ></i
      >{{ tabItem.label }}
    </li>
  </ul>
  <div>
    <!-- <app-dynamic-content
      [context]="{ title: 'HELLO' }"
      [type]="'resourcesComponent'"
    ></app-dynamic-content> -->
  </div>
</div>
